<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="/">
          <img class="logo-menu" src="./assets/img/logo.png" alt="Cotelco">
        </a>
    </div>
    <div class="collapse navbar-collapse pull-right" id="myNavbar">
      <div class="row">
        <div class="col-md-7 just-for-space"></div>
        <div class="col-md-5 inner-menu-upper">
          <div class="row-fluid inner-menu-upper-prop magic-container">
            <div class="col-md-5 inner-menu-upper-prop">
              <img class="upper-phone" src="./assets/img/phone.png" alt="Teléfono">
              <span class="blue-text"> (+571) 742 77 66</span>
              <div class="bar"></div>
            </div>
            <div class="col-md-2 inner-menu-upper-prop pse-button" style="cursor: pointer;" (click)="redirectPse();">
              <img src="./assets/img/pse.png" alt="PSE">
            </div>
            <div class="col-md-4 inner-menu-upper-prop log-in-btn">
              <a class="btn btn-default upper-button" href="javascript:void(0);" role="button" (click)="goLogin();">INICIAR SESIÓN</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row menu-row">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">INICIO</a>
          </li>
          <li>
            <a href="Nosotros">QUIÉNES SOMOS</a>
          </li>
          <li>
            <a href="Servicios">SERVICIOS</a>
          </li>
          <li>
            <a href="Capitulos">CAPÍTULOS</a>
          </li>
          <li>
            <a href="Afiliese">AFÍLIESE</a>
          </li>
          <li>
            <a href="Publicaciones">PUBLICACIONES</a>
          </li>
          <li>
            <a href="Contactenos">CONTÁCTENOS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>