<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="title-footer">Sobre Nosotros</div>
        <p>Todos los derechos reservados &copy; COTELCO {{year}}</p>
        <p>Política de tratamiento de datos</p>
        <p>Diseño y desarrollo por JIRKA</p>
        <p>Bogotá - Colombia</p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="title-footer">Contacto</div>
        <p>Dirección: Cra 11A No 69-79 Bogotá</p>
        <p>Teléfono: (1) 7427766</p>
        <p>Email: cotelco@cotelco.org</p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="title-footer">Siguenos En:</div>
        <a href="https://twitter.com/" class="footer-networks twitter">          
        </a>
        <a href="https://www.facebook.com/" class="footer-networks facebook">          
        </a>
        <a href="https://www.youtube.com/" class="footer-networks youtube">
        </a>
        <a href="https://www.instagram.com/" class="footer-networks instagram">
        </a>
      </div>
    </div>
    <div class="row custom-row-footer">
      <a target="_blank" href="http://apps.jirka.co/JSih/resources/files/politicaTratamientoDatosCotelco.pdf">Términos y condiciones</a>
      <a target="_blank" href="http://apps.jirka.co/JSih/resources/files/politicaTratamientoDatosCotelco.pdf">Política de Privacidad</a>
    </div>
  </div>
</footer>