<div class="row header-inner-sections press-img">
  <div class="title-inner-section">
    <img src="./assets/img/sala_prensa.png" alt="Sala de Prensa">
    <span>SALA DE PRENSA</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container-fluid gray-blocked">
  <div class="row-fluid">
    <div class="col-md-11">
      <div class="row-fluid">
        <div class="col-md-3">
          <div class="row">
            <span class="title-news">ÚLTIMAS NOTICIAS</span>
          </div>
          <div class="row">

          </div>
        </div>
        <div class="col-md-9">
          
        </div>
      </div>
    </div>
  </div>
</div>