<div class="row header-inner-sections about-img">
  <div class="title-inner-section">
    <img src="./assets/img/sources.png" alt="Quienes Somos">
    <span>QUIENES SOMOS</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container">
  <div class="row about-gen-section">
    <div class="col-md-9 about-section">
      <div class="row">
        <div>
          Here comes the text of each section
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <ul class="nav nav-pills nav-stacked lefty-menu">
          <li class="active">
            <a href="javascript:void(0);" ng-model="mision">MISIÓN</a>
          </li>
          <li>
            <a href="javascript:void(0);" ng-model="vision">VISIÓN</a>
          </li>
          <li>
            <a href="javascript:void(0);" ng-model="history">HISTORIA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>