<div class="row header-inner-sections consultorias-img">
  <div class="title-inner-section">
    <img src="./assets/img/capacitaciones.png" alt="Publicaciones">
    <span>CONSULTORÍAS</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container-fluid consulting-menu-parent">
  <div class="row-fluid">
    <div class="col-md-2 col-md-offset-3 consulting-menu yellow-i">
      <img src="./assets/img/aliados.png" alt="star">
      <span>PROYECTOS Y OPERACIÓN HOTELERA</span>
    </div>
    <div class="col-md-2 consulting-menu">
      <img src="./assets/img/aliados.png" alt="star">
      <span>INFRAESTRUCTURA</span>
    </div>
    <div class="col-md-2 consulting-menu red-i">
      <img src="./assets/img/aliados.png" alt="star">
      <span>DESARROLLO TURÍSTICO</span>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="title-home">
    PROYECTOS HOTELEROS
  </h3>
  <hr class="hr-home">
  <br />
  <div class="row" style="margin-bottom: 2pc;">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Estudios de prefactibilidad del Proyecto Hotelero</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="http://apps.jirka.co/JSih/DownloadEngine?path=imagenPortal/f68dfbf6-c497-4df3-93b7-e98c99076073.png&type=imagenPortal"
              alt="ex1">
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Gestión de Financiación de Proyectos Hoteleros</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="http://apps.jirka.co/JSih/DownloadEngine?path=imagenPortal/f68dfbf6-c497-4df3-93b7-e98c99076073.png&type=imagenPortal"
              alt="ex1">
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">Análisis Operacional y Financiero</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="http://apps.jirka.co/JSih/DownloadEngine?path=imagenPortal/f68dfbf6-c497-4df3-93b7-e98c99076073.png&type=imagenPortal"
              alt="ex1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>