.footer-form-afilliate {
    text-align: center;
    margin-top: 1pc;
}

.blue-text {
    cursor: pointer;
}

.ntooltip {
    position: relative;
}

.tooltip-text {
    background-color: #4bb649;
    color: white;
    left: 0;
    padding: 2px;
    position: relative;
    top: 0;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-left: 1pc;
    margin-bottom: 0.2pc;   
    font-size: 0.8em;
}

.contact-text {
    display: inline-block;
}

.panel-default > .panel-heading{
    background-color: #0066b2;
    border-color: #0066b2;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}