<div class="row header-inner-sections affiliate-img">
  <div class="title-inner-section">
    <span>AFÍLIESE</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container">
  <h3 class="title-home">
    AFÍLIESE
  </h3>
  <hr class="hr-home">
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">Datos del establecimiento</div>
    <div class="panel-body">
      <div class="jumbotron custom-jumbotrom-affiliate">
        <p>Los establecimientos de alojamiento y hospedaje interesados en pertenecer a la Asociación Hotelera y Turística de
          Colombia - COTELCO deben seguir estos pasos: </p>
        <ol>
          <li>Diligenciar el formulario de registro a través de la página web</li>
          <li>Diligenciar y enviar los documentos requeridos</li>

          <ol type="a">
            <li>Certificado de existencia y representación legal expedido por la Cámara de Comercio correspondiente con vigencia
              inferior a 30 días.</li>
            <li>Registro Único Tributario – RUT.</li>
            <li>Registro Nacional de Turismo vigente.</li>
            <li>Cédula de ciudadanía del Representante Legal.</li>
            <li>Certificado de Declaración de Origen de Fondos y Actividades Lícitas.</li>
            <li>Acta de compromiso de afiliación.</li>
            <li>Autorización tratamiento datos.</li>
          </ol>

          <li>Visita de reconocimiento de las instalaciones del establecimiento por parte de COTELCO. </li>
          <li>Revisión y aprobación por la Junta Directiva del capítulo regional</li>
          <li>Aprobación final por la Junta Directiva COTELCO Nacional. Necesito en que los documentos e, f y g, se tenga la
            posibilidad de descargar el documento para que lo diligencien.</li>
        </ol>
      </div>
      <form class="affiliate-form" #values="ngForm" (ngSubmit)="SendContact(values)" id="frmSbt">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rz" class="label-form">Razón social<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="rz" name="rz" required ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nc" class="label-form">Nombre Comercial<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="nc" name="nc" required ngModel>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="rnt" class="label-form">RNT<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="rnt" name="rnt" (focusout)="validateRnt($event)" required ngModel>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="rut" class="label-form">RUT<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="rut" name="rut" required ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rl" class="label-form">Representante Legal<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="rl" name="rl" required ngModel>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="sbct" class="label-form">Subcategoría<span class="mandatory">(*)</span></label>
                  <select id="sbct" class="form-control" name="sbct" required ngModel>
                    <option value="" disabled>Seleccione una opción</option>
                    <option *ngFor="let subCategorie of subCategories; let i=index" value="{{subCategorie.id}}">{{subCategorie.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="capi" class="label-form">Capítulo<span class="mandatory">(*)</span></label>
                  <select id="capi" class="form-control" name="capi" required ngModel>
                    <option value="" disabled>Seleccione una opción</option>
                    <option *ngFor="let chapter of chapters; let i=index" value="{{chapter.id}}">{{chapter.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="address" class="label-form">Dirección<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="address" name="address" required ngModel>
                </div>
              </div>
            </div>
            <div class="row">
              <h4 class="full-title">
                Datos de la cuenta de usuario
              </h4>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="uname" class="label-form">Nombres</label>
                  <input type="text" class="form-control" id="uname" name="uname" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastnames" class="label-form">Apellidos</label>
                  <input type="text" class="form-control" id="lastnames" name="lastnames" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="label-form">Correo<span class="mandatory">(*)</span></label>
                  <input type="mail" class="form-control" id="email" (focusout)="validateEmail($event)" name="email" required ngModel>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="password" class="label-form">Contraseña<span class="mandatory">(*)</span></label>
                  <input type="password" class="form-control" id="password" name="password" required ngModel>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="confirm" class="label-form">Confirmar<span class="mandatory">(*)</span></label>
                  <input type="password" class="form-control" id="confirm" name="confirm" required ngModel>
                </div>
              </div>
            </div>
            <div class="row footer-form-afilliate">
              <p>He leído y estoy de acuerdo con la <a href="http://apps.jirka.co/JSih/resources/files/politicaTratamientoDatosCotelco.pdf"
                  target="_blank">Política de Tratamiento de Datos</a>:</p>
              <div class="checkbox">
                <label><input type="checkbox" value="" id="chkAccept">Acepto</label>
              </div>
              <input type="submit" class="btn btn-alert" value="Registrar">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>