<div class="row header-inner-sections affiliate-img">
  <div class="title-inner-section">
    <span>AFÍLIESE</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container">
  <h3 class="title-home">
    AFÍLIESE
  </h3>
  <hr class="hr-home">
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">Datos del establecimiento</div>
    <div class="panel-body">
      <div class="jumbotron custom-jumbotrom-affiliate">
        <p>Los establecimientos de alojamiento y hospedaje interesados en pertenecer a la Asociación Hotelera de Colombia COTELCO
          Capítulo Cartagena deben seguir los siguientes pasos:</p>
        <ol>
          <li>Se realizará una visita de reconocimiento a las instalaciones del establecimiento de alojamiento y hospedaje por
            parte de la Dirección y subdirección del Capítulo</li>
          <li>Se realizará una visita de reconocimiento a las instalaciones del establecimiento de alojamiento y hospedaje por
            parte de la Dirección y subdirección del Capítulo</li>
          <li>Se realizará una visita de reconocimiento a las instalaciones del establecimiento de alojamiento y hospedaje por
            parte de la Dirección y subdirección del Capítulo</li>
          <li>Se realizará una visita de reconocimiento a las instalaciones del establecimiento de alojamiento y hospedaje por
            parte de la Dirección y subdirección del Capítulo</li>
          <li>Se realizará una visita de reconocimiento a las instalaciones del establecimiento de alojamiento y hospedaje por
            parte de la Dirección y subdirección del Capítulo</li>
        </ol>
      </div>
      <form class="affiliate-form">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rz" class="label-form">Razón social<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="rz">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nc">Nombre comercial<span class="mandatory">(*)</span></label>
                  <input type="text" class="form-control" id="nc">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>