<div class="container-fluid">
  <div class="row container-marcas-cotelco">
    <h3 class="title-home">
      MARCAS COTELCO
    </h3>
    <hr class="hr-home">
    <div class="banner-marcas">
      <div class="container-fluid">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control custom-marcas-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control custom-marcas-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>
  </div>
</div>