<div class="home-principal-banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let image of images; let i=index" class="item" [ngClass]="{active:i==0,pirineoLink:image.link!=null}" (click)="RedirectToExternal(image.link)">
                <img src="{{image.url}}" alt="{{image.title}}">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="row yellow-bar"></div>
        <div class="row blue-bar">
            <div class="col-sm-1 col-sm-offset-3 inner-menu-bar" (click)="RedirectTo('SalaPrensa')">
                <img src="./assets/img/sala_prensa.png" alt="Sala de Prensa" style="width: 3pc;">
                <span>Sala de Prensa</span>
            </div>
            <div class="col-sm-1 inner-menu-bar" (click)="RedirectTo('Eventos')">
                <img src="./assets/img/eventos.png" alt="Eventos">
                <span>Eventos</span>
            </div>
            <div class="col-sm-1 inner-menu-bar" (click)="RedirectTo('Capacitaciones')">
                <img src="./assets/img/capacitaciones.png" alt="Capacitaciones">
                <span>Capacitaciones</span>
            </div>
            <div class="col-sm-1 inner-menu-bar" (click)="RedirectTo('Consultorias')">
                <img src="./assets/img/consultorias.png" alt="Consultorías">
                <span>Consultorías</span>
            </div>
            <div class="col-sm-1 inner-menu-bar" (click)="RedirectTo('Aliados')">
                <img src="./assets/img/aliados.png" alt="Aliados">
                <span>Aliados</span>
            </div>
            <div class="col-sm-1 inner-menu-bar" (click)="RedirectToExternal('http://apps.jirka.co/JSih')">
                <img src="./assets/img/sih.png" alt="SIH">
                <span>SIH</span>
            </div>
            <div class="col-sm-2 col-sm-offset-1 loguito-cot">
                <img src="./assets/img/cotelco_1.png" class="cotelco-home-img" alt="COTELCO">
            </div>
        </div>
    </div>
</div>

<app-carousel2></app-carousel2>

<app-marcas-cotelco></app-marcas-cotelco>